@import url(https://fonts.googleapis.com/css?family=Lobster);
@import url(https://fonts.googleapis.com/css?family=Vidaloka:400,700);
@import url(https://fonts.googleapis.com/css?family=PT+Sans:400,400italic);

@import "bourbon/bourbon";
@import "neat/neat";
@import "variables";
@import "refills";

html, body {
  background-color: #222;
  color: #fff;
  height: 100%;
  overflow: auto;
}
header.navigation ul li.nav-link.greeting {
  @media screen and (max-width: $large-screen) {
    display: none;

  }
}

.clearfix {
  &:before,
  &:after {
    display: table;
    content: " ";
  }
  &:after {
    clear:both;
  }
}
main {
  @media screen and (max-width: $large-screen) {
    margin-top: 100px;
    header.navigation ul li.nav-link.greeting {
      
    }
  }
}

.card {
  @include clearfix;
  background-color: #555;
  width: 240px;
  margin: 20px;
  position: relative;
  img {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
  }
  .quote {
    font-family: 'PT Sans', serif;
    font-style: italic;
    background: linear-gradient(to bottom, transparent, transparent 10%,  #555 50%);
    font-size: 18px;
    padding: 12px;
    margin-top: -4px;
    .source {
      display: block;
      text-align: right;
    }
  }
  .card-img {
    box-shadow: inset 0 0 10px #000000;
    max-width: 240px;
  }
  .delete-quote{
    margin: 4px;
    cursor: pointer;
    z-index: 100;
    position: relative;
    background-color: #444;
    border: 1px solid #333;
  }
}
.shadow {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-shadow: inset 10px 10px 20px 0 #555, inset -10px -10px 20px 0 #555;
}
#login h1 {
  color: #ddd;
  text-align: center;
  font-family: 'Vidaloka', sans-serif;

}
.social {
  width: 230px;
  margin: 20px auto;
  padding: 0;
  li {
    list-style: none;
    text-align: center;
    width: 230px;
    margin: 10px auto;
    height: 40px;
    background-color: #666;
    border-radius: 5px;
    a {
      display: block;
      height: 100%;
      width: 100%;
      text-decoration: none;
      font-weight: bold;
      color: #222;
      padding: 10px;
      font-size: 20px;
    }
  }
}

#newquote {
  @include outer-container;
  color: #ccc;
  width: 90%;
  margin: 20px auto;
  max-width: 800px;
  .half {
    @include span-columns(6);
  }
  .image {
    min-height: 200px;
  }
  .card {
    margin: 0;
  }
  h1 {
    font-family: 'Vidaloka', sans-serif;}
  label {
    font-family: 'Lobster', serif;
    font-size: 16px;
    display: block;
    margin-top: 10px;}
  input {
    margin-bottom: 10px;
    font-size: 18px;
    padding: 4px 8px;
    background-color: #111;
    color: #ccc;
    border-radius: 3px;
    border: 2px solid #181818;
    width: 270px;}
  button {
    font-family: 'Vidaloka', sans-serif;
    display: block;
    width: 270px;
    margin-top: 10px;
    padding: 4px 10px;
    background-color: #555;
    border: 1px solid #444;
    cursor: pointer;

  }
}
footer {
  clear: both;
  font-size: 0.75em;
  padding-top: 50px;
  text-align: center;
  .social-icon {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    margin-right:10px;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
  }
}

// page tweaks
.page-wrap {
  min-height: 100%;
  /* equal to footer height */
  margin-bottom: -131px; 
}
.page-wrap:after {
  content: "";
  display: block;
}
.footer, .page-wrap:after {
  height: 131px; 
}
.notice {
  font-size: 0.85rem;
}
