<main>
  <h1 class="scripty center" ng-hide="mainPage">{{username}}'s Quotes</h1>
  <div class="grid">
    <div class="card grid-item" ng-repeat="card in quotes | reverse" ng-hide="!card.img || !card.source || !card.quote">
      <div class="image">
        <img  class="card-img" src="/public/img/bad-image.png" ng-src="{{card.img}}" alt="" err-src="/public/img/bad-image.png">
      </div>
      <div class="quote">
        "{{card.quote}}"<span class="source"> - {{card.source}}</span>
      </div>
      <button class="delete-quote clearfix" ng-click="delete(card._id)" ng-show="editEnabled"><i class="fa fa-times"></i> delete</button>
      <div class="user-box clearfix" ng-hide="editEnabled">
        <div class="user-link" ng-click="userPage(card.userId)">
          <img src="#" ng-src="{{card.userImg}}" alt="">
          <p>{{card.user}}</p>
        </div>
        <div class="stars" ng-click="star(card)"><i class="fa fa-star"></i> {{card.starred.length}}</div>
      </div>
      <div class="shadow"></div>
    </div>
  </div>
</main>

